@model IEnumerable<RecordCollection.Models.Cd>

@{
    ViewBag.Title = "By Genre";
}
<style>
    #Cd-Collection .showRow {
        display: table-row;
    }

    #Cd-Collection .hideRow {
        display: none;
    }
</style>
<div class="container-fluid body-content">
    <div class="row">
        <div class="col-xs-12">
            <h2>Record Collection</h2>

            <div class="select-form">
                @using (Html.BeginForm("Index", "Cd", FormMethod.Post))
                {
                    <fieldset>
                        Genre Type
                        @Html.DropDownList("GenreType")
                        <input type="submit" value="Go" class="btn select-btn" />
                    </fieldset>
                }
            </div>
            <h3>@ViewBag.TableTitle</h3>
                <table class="table js-row-click-table" id="Cd-Collection">
                    <thead>
                        <tr>
                            <th>Artist</th>
                            <th>
                                @Html.DisplayNameFor(model => model.AlbumTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ArtistName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ArtistType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Producer)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Gender)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Genre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Country)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RecordCompanyName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RecordCompanyType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.YearOfRelease)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Rating)
                            </th>
                            @*<th></th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.ActionLink("Artist", "ArtistOverview", "Artist",  new { id = item.ArtistName }, new { @class = "js-row-click" })
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AlbumTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ArtistName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ArtistType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Producer)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Gender)
                                </td>
                                <td id="genre-td">
                                    @Html.DisplayFor(modelItem => item.Genre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecordCompanyName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RecordCompanyType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.YearOfRelease)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Rating)
                                </td>
                                @*<td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { artistName = item.ArtistName }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
    </div>
</div>
<script>
    //function selectByGenre() {
    //    var id = document.getElementById("Genres");
    //}
    $(document).ready(function () {
        $("#Genres").change(function () {
            var sg = $("#Genres Option:selected").text();
            var genreTd = $("#Cd-Collection #genre-td").val();
            //$(genreTd + ':contains(' + sg + ')').parents('tr').css('background-color', 'red');

            //if ($(genreTd + ':contains(' + sg + ')'))
            //    $(this).parents('tr').css('background-color', 'red');
            //else
            //    $(this).parents('tr').addClass('background-color', 'green');


            $('#Cd-Collection #genre-td').each(function () {
                var $this = $(this);
                if (!$this.text().includes(sg)) {
                    $this.parent('tr').removeClass("showRow");
                    $this.parent('tr').addClass("hideRow");
                }
                else {
                    $this.parent('tr').removeClass("hideRow");
                    $this.parent('tr').addClass("showRow");
                }
            });

            if (sg.includes("All Genres")) {
                $('tr').removeClass("hideRow");
                $('tr').addClass("showRow");
            }

            $.ajax({
                url: '/Cd/Index',
                type: "POST",
                dataType: "JSON",
                data: { selectedGenre: sg }
            })
        })
    })
</script>

